<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.superning.nettychat.mapper.FriendlistMapper">
  <resultMap id="BaseResultMap" type="me.superning.nettychat.domain.Friendlist">
    <!--@mbg.generated generated on Sun Dec 01 14:09:06 CST 2019.-->
    <!--@Table Friendlist-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="my_id" jdbcType="BIGINT" property="myId" />
    <result column="my_friend_id" jdbcType="BIGINT" property="myFriendId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Dec 01 14:09:06 CST 2019.-->
    id, my_id, my_friend_id
  </sql>
</mapper>