<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.superning.nettychat.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="me.superning.nettychat.domain.User">
        <!--@mbg.generated generated on Fri Dec 06 16:06:11 CST 2019.-->
        <!--@Table user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="face_image" jdbcType="VARCHAR" property="faceImage"/>
        <result column="face_image_big" jdbcType="VARCHAR" property="faceImageBig"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="qrcode" jdbcType="BLOB" property="qrcode"/>
        <result column="cid" jdbcType="VARCHAR" property="cid"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Fri Dec 06 16:06:11 CST 2019.-->
        id, username, `password`, face_image, face_image_big, nickname, qrcode, cid
    </sql>
    <select id="listAllToMeRequest" resultType="me.superning.nettychat.domain.vo.FriendRequestsVo" parameterType="long">
        select
            sender.id as  sendUserId,
            sender.username as sendUsername,
            sender.face_image as sendFaceImage,
            sender.nickname as sendNickname
      from friends_request as fr left  join  user as sender
      on fr.send_user_id = sender.id
      where fr.accept_user_id  =#{acceptUserid}

  </select>
</mapper>